/* Button
   ========================================================================== */

button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  font-weight: inherit;
}

button:enabled {
  cursor: pointer;
}

.bs-button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0.1rem solid currentColor;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--color-primary);
  padding: 1.2rem 2rem;
  color: var(--color-on-primary);
  font-weight: inherit;
}

.bs-button:enabled:active,
input[type="button"]:enabled:active,
input[type="reset"]:enabled:active,
input[type="submit"]:enabled:active {
  background-color: var(--color-primary-dark);
}

.bs-button[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled] {
  opacity: 0.65;
  cursor: default;
}
