/* Code
   ========================================================================== */

kbd,
code,
samp {
  color: var(--color-secondary);
  word-wrap: break-word;
  font-size: 90%;
}

pre {
  padding: 1rem 1.5rem;
  background-color: var(--color-background-dark);
  overflow-x: auto;
  color: var(--color-on-background);
}

pre code {
  word-break: normal;
  color: inherit;
  font-size: inherit;
}
