/* Figure
   ========================================================================== */

figure {
  display: inline-block;
  margin: 0 0 1rem;
}

figure img {
  margin-bottom: 0.5rem;
}

figcaption {
  font-size: 90%;
}
