/* Form
   ========================================================================== */

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
}

legend {
  font-weight: bolder;
}

input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
textarea,
select {
  -webkit-appearance: none; /* Safari (until 2022) */
  box-sizing: border-box;
  box-shadow: none;
  border: 0.1rem solid var(--color-background-darker);
  border-radius: 0;
  width: 100%;
  height: 4.2rem;
  padding: 1rem;
  background-color: transparent;
  color: var(--color-on-background);
}

input[type="color"] {
  width: 4.2rem;
}

select {
  --arrow-size: 1rem;

  background-image:
    linear-gradient(45deg, transparent 50%, var(--color-on-background) 50%),
    linear-gradient(135deg, var(--color-on-background) 50%, transparent 50%);
  background-position:
    right 2rem center,
    right calc(2rem - var(--arrow-size) / 2) center;
  background-size: calc(var(--arrow-size) / 2) calc(var(--arrow-size) / 2);
  background-repeat: no-repeat;
  padding-right: 4rem;
}

textarea {
  resize: none;
  min-height: 8em;
}

input[type="radio"],
input[type="checkbox"],
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
  margin: 0;
  vertical-align: middle;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--color-primary);
}

/* Remove Firefox outline */
select:-moz-focusring {
  text-shadow: 0 0 0 var(--color-on-background);
  color: transparent;
}

::placeholder {
  opacity: 1; /* Firefox opacity fix */
  color: var(--color-on-background-light);
}
