/* Grid
   ========================================================================== */

.container {
  position: relative;
  padding: 0 2rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 112rem;
  margin: 0 auto;
}
