/* iframe
   ========================================================================== */

iframe {
  box-sizing: border-box;
  margin: 1rem 0;
  border: 0.1rem solid var(--color-background-darker);
  width: 100%;
}
