/* Table
   ========================================================================== */

table {
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 1rem;
  text-align: left;
}

th {
  text-align: left;
  font-weight: bolder;
}

th,
td {
  border: 0.1rem solid var(--color-background-darker);
  padding: 1rem;
}

.table-scroll {
  overflow-x: auto;
}
