/* Typography
   ========================================================================== */

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 1em;
  margin-bottom: 0.67em;
  line-height: 1.25;
  font-family: var(--font-secondary);
  font-weight: bolder;
}

h1,
.h1 {
  font-size: 3.3rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 1.9rem;
}

h4,
.h4 {
  font-size: 1.6rem;
}

h5,
.h5 {
  font-size: 1.4rem;
}

h6,
.h6 {
  font-size: 1.2rem;
}

/* Paragraphs */
p {
  margin: 1em 0;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

p.lead {
  font-size: 2rem;
}
