/* Base
   ========================================================================== */

html {
  font-size: 62.5%;  /* Use rems in a similar way to pxs: 1.6rem === 16px. */
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: var(--font-primary);
  font-size: 1.6em; /* Currently ems cause chrome bug misinterpreting rems on body element */
}
